<div class="container">
        <h1 class="text-center my-2">Resume Generator</h1>
        <p class="text-center">Created by John Many & Genifer Rock</p>

        <div class="row">

            <div class="col-md-6">
                <!--first column-->
                <h3>Personal Information</h3>
                <!--PERSONAL INFORMATION-->
                <div class="form-group">
                    <label for="nameField">First & Last Name</label>
                    <input 
                        type="text" 
                        id="nameField" 
                        placeholder="Enter Your Name Here" 
                        class="form-control" />
                </div>

                <div class="form-group mt-2">
                    <label for="phoneField">Phone Number</label>
                    <input 
                        type="text" 
                        id="phoneField" 
                        placeholder="Enter Your Phone Number Here" 
                        class="form-control" />
                </div>

                <div class="form-group mt-2">
                    <label for="birthdayField">Birthday</label>
                    <input type="date"
                           id="birthdayField"
                           placeholder="YYYY/MM/DD"
                           class="form-control" />
                </div>

                <div class="form-group mt-2">
                    <label for="addressField">Your Address</label>
                    <textarea
                        id="addressField"
                        placeholder="Enter Your Address Here"
                        class="form-control"
                        rows="5"                   
                    ></textarea>
                </div>
                <!--PERSONAL INFORMATION-->

                <h3>Useful Links</h3>
                <!--LINKS-->
                <div class="form-group">
                    <label for="facebookField">Facebook</label>
                    <input 
                        type="text" 
                        id="facebookField" 
                        placeholder="Link" 
                        class="form-control" />
                </div>

                <div class="form-group mt-2">
                    <label for="githubField">Github</label>
                    <input 
                        type="text" 
                        id="githubField" 
                        placeholder="Link" 
                        class="form-control" />
                </div>

                <div class="form-group mt-2">
                    <label for="linkedinField">LinkedIn</label>
                    <input 
                        type="text" 
                        id="linkedinField" 
                        placeholder="Link" 
                        class="form-control" />
                </div>
                <!--LINKS-->


            </div>
            <div class="col-md-6">
                <!--second column-->
                <h3>Career & Professional Information</h3>

                <div class="form-group mt-2">
                    <label for="objectiveField">Objective/Pitch</label>
                    <textarea
                        id="objectiveField"
                        placeholder="Enter Text"
                        class="form-control"
                        rows="5"                   
                    ></textarea>

                    <div class="form-group mt-2" id="we">
                        <label for="weField">Work Experience</label>
                        <textarea placeholder="Enter Text"
                                  class="form-control weField"
                                  rows="3"></textarea>
                    </div>

                    <div class="container text-center mt-2" id="weAddButton">
                        <button onclick="addNewWeField()" class="btn btn-primary btn-sm">Add</button>
                    </div>

                    <div class="form-group mt-2" id="eq">
                        <label for="aeField">Academic Experience</label>
                        <textarea 
                            placeholder="Enter Text"
                            class="form-control aeField"
                            rows ="3"></textarea>
                    </div>

                    <div class="container text-center mt-2" id="aeAddButton">
                        <button onclick="addNewAeField()" class="btn btn-primary btn-sm">Add</button>
                    </div>
            </div>
        </div>
        <div class="container text-center mt-3">
            <button class="btn btn-primary btn-lg">Generate CV</button>
        </div>
    </div>

